.dashboard-container { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  background-color: #f0f2f5; 
  font-family: Arial, sans-serif;
}
.dashboard-container h1 { 
  color: #333;
}
.logout-button { 
  margin-top: 2em; 
  padding: 0.8em 2.5em; 
  background-color: #e23744; 
  color: #fff; 
  border-radius: 5px; 
  border: none; 
  cursor: pointer; 
  font-size: 1em; 
  transition: background-color 0.3s ease;
}
.logout-button:hover { 
  background-color: #c92c3a;
}
